//
// Typography
// --------------------------------------------------


@font-face {
  font-family: 'Segoe';
  src: url('../fonts/segoe/Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe';
  src: url('../fonts/segoe/Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe';
  src: url('../fonts/segoe/Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
