//
// Variables
// --------------------------------------------------


$white: #ffffff;
$light-gray: rgba($white, 0.87);
$gray: #9fa3a7;
$sky-blue: #62a7ff;
$light-navy: #435ab6;
$soft-navy: #3f51ad;
$dark-blue: #142d4c;
$tomato: #f05638;